<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Mycart_Payease>
            <version>1.0.0</version>
        </Mycart_Payease>
    </modules>
    <frontend>
        <layout>
            <updates>
                <mycart_payease>
                    <file>mycart_payease.xml</file>
                </mycart_payease>
            </updates>
        </layout>
        <translate>
            <modules>
                <mycart_payease>
                    <files>
                        <default>Mycart_Payease.csv</default>
                    </files>
                </mycart_payease>
            </modules>
        </translate>
        <routers>
            <mycart_payease>
                <use>standard</use>
                <args>
                    <module>Mycart_Payease</module>
                    <frontName>payease</frontName>
                </args>
            </mycart_payease>
        </routers>  
        <secure_url>
            <mycart_payease>/mycart_payease/</mycart_payease>
        </secure_url> 

    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <mycart_payease>
                    <file>mycart_payease.xml</file>
                </mycart_payease>
            </updates>
        </layout>
        <translate>
            <modules>
                <Mycart_Payease>
                    <files>
                        <default>Mycart_Payease.csv</default>
                    </files>
                </Mycart_Payease>
            </modules>
        </translate>
       
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
				<args>
					<modules>
						<mycart_payease before="Mage_Adminhtml">Mycart_Payease_Adminhtml</mycart_payease>
					</modules>
				</args>
			</adminhtml>
        </routers>
    </admin>    
    <global> 
        <helpers>
            <mycart_payease>
                <class>Mycart_Payease_Helper</class>
            </mycart_payease>
        </helpers>
        <blocks>
            <mycart_payease>
                <class>Mycart_Payease_Block</class>
            </mycart_payease>            
        </blocks>
        <models>
            <mycart_payease>
                <class>Mycart_Payease_Model</class>
                <resourceModel>mycart_payease_mysql4</resourceModel>
            </mycart_payease>
            <mycart_payease_mysql4>
                <class>Mycart_Payease_Model_Mysql4</class>
                <entities>
                    <cards>
                        <table>mycart_payease</table>
                    </cards>                                   
                </entities>
            </mycart_payease_mysql4>            
        </models>
        <resources>
            <mycart_payease_setup>
                <setup>
                    <module>Mycart_Payease</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mycart_payease_setup>
            <mycart_payease_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </mycart_payease_write>
            <mycart_payease_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </mycart_payease_read>
        </resources>    
 
        <payment>
            <cc_cybersource>
                <types>
                    <AE>
                        <code>AE</code>
                        <name>American Express</name>
                    </AE>
                    <VI>
                        <code>VI</code>
                        <name>Visa</name>
                    </VI>
                    <MC>
                        <code>MC</code>
                        <name>MasterCard</name>
                    </MC>
                    <DI>
                        <code>DI</code>
                        <name>Discover</name>
                    </DI>
                    <JCB>
                        <code>JCB</code>
                        <name>JCB</name>
                    </JCB>
                    <MAESTRO>
                        <code>MAESTRO</code>
                        <name>Maestro International</name>
                    </MAESTRO>
                    <MAESTROUK>
                        <code>SWITCH</code>
                        <name>Maestro UK</name>
                    </MAESTROUK>                                                                               
                    <DINERS>
                        <code>DC</code>
                        <name>Diners Club</name>
                    </DINERS>                    
                </types>
            </cc_cybersource>
        </payment>

    </global>
    <default>
        <payment>
            <mycart_payease>
                <active>0</active>
                <title>Payease</title>
                <order_status>new</order_status>
                <merchantid>444</merchantid>
				<trans_key>test</trans_key>
                <save_optional>1</save_optional>
                <model>mycart_payease/payment</model>
                <soap_gateway_url>https://pay.yizhifubj.com/prs/user_payment.checkit</soap_gateway_url>
              
            </mycart_payease>
        </payment>
    </default>
</config>
