<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <MD_Cybersource>
            <version>1.0.0</version>
        </MD_Cybersource>
    </modules>
    <frontend>
        <layout>
            <updates>
                <md_cybersource>
                    <file>md_cybersource.xml</file>
                </md_cybersource>
            </updates>
        </layout>
        <translate>
            <modules>
                <md_cybersource>
                    <files>
                        <default>MD_Cybersource.csv</default>
                    </files>
                </md_cybersource>
            </modules>
        </translate>
        <routers>
            <md_cybersource>
                <use>standard</use>
                <args>
                    <module>MD_Cybersource</module>
                    <frontName>md_cybersource</frontName>
                </args>
            </md_cybersource>
        </routers>  
        <secure_url>
            <md_cybersource>/md_cybersource/</md_cybersource>
        </secure_url> 
        <events>
            <checkout_submit_all_after>
                <observers>
                    <md_cybersource_save_card>
                        <class>MD_Cybersource_Model_Observer</class>
                        <method>cardSaveToCustomer</method>
                    </md_cybersource_save_card>
                </observers>
            </checkout_submit_all_after>
        </events>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <md_cybersource>
                    <file>md_cybersource.xml</file>
                </md_cybersource>
            </updates>
        </layout>
        <translate>
            <modules>
                <MD_Cybersource>
                    <files>
                        <default>MD_Cybersource.csv</default>
                    </files>
                </MD_Cybersource>
            </modules>
        </translate>
        <events>
            <core_block_abstract_prepare_layout_after>
                <observers>
                    <md_cybersource_add_card_tab>
                        <type>singleton</type>
                        <class>md_cybersource/observer</class>
                        <method>addCardTab</method>
                    </md_cybersource_add_card_tab>
                </observers>
            </core_block_abstract_prepare_layout_after>
        </events>        
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
				<args>
					<modules>
						<md_cybersource before="Mage_Adminhtml">MD_Cybersource_Adminhtml</md_cybersource>
					</modules>
				</args>
			</adminhtml>
        </routers>
    </admin>    
    <global> 
        <helpers>
            <md_cybersource>
                <class>MD_Cybersource_Helper</class>
            </md_cybersource>
        </helpers>
        <blocks>
            <md_cybersource>
                <class>MD_Cybersource_Block</class>
            </md_cybersource>            
        </blocks>
        <models>
            <md_cybersource>
                <class>MD_Cybersource_Model</class>
                <resourceModel>md_cybersource_mysql4</resourceModel>
            </md_cybersource>
            <md_cybersource_mysql4>
                <class>MD_Cybersource_Model_Mysql4</class>
                <entities>
                    <cards>
                        <table>md_cybersource</table>
                    </cards>                                   
                </entities>
            </md_cybersource_mysql4>            
        </models>
        <resources>
            <md_cybersource_setup>
                <setup>
                    <module>MD_Cybersource</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </md_cybersource_setup>
            <md_cybersource_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </md_cybersource_write>
            <md_cybersource_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </md_cybersource_read>
        </resources>    
        <events>
            <controller_action_layout_render_before>
                <observers>
                    <md_cybersource_check_valid>
                        <type>model</type>
                        <class>MD_Cybersource_Helper_Util</class>
                        <method>checkValid</method>
                    </md_cybersource_check_valid>
                </observers>
            </controller_action_layout_render_before>
        </events>
        <payment>
            <cc_cybersource>
                <types>
                    <AE>
                        <code>AE</code>
                        <name>American Express</name>
                    </AE>
                    <VI>
                        <code>VI</code>
                        <name>Visa</name>
                    </VI>
                    <MC>
                        <code>MC</code>
                        <name>MasterCard</name>
                    </MC>
                    <DI>
                        <code>DI</code>
                        <name>Discover</name>
                    </DI>
                    <JCB>
                        <code>JCB</code>
                        <name>JCB</name>
                    </JCB>
                    <MAESTRO>
                        <code>MAESTRO</code>
                        <name>Maestro International</name>
                    </MAESTRO>
                    <MAESTROUK>
                        <code>SWITCH</code>
                        <name>Maestro UK</name>
                    </MAESTROUK>                                                                               
                    <DINERS>
                        <code>DC</code>
                        <name>Diners Club</name>
                    </DINERS>                    
                </types>
            </cc_cybersource>
        </payment>

    </global>
    <default>
        <payment>
            <md_cybersource>
                <active>0</active>
                <title>Cybersource By MageDelight</title>
                <order_status>processing</order_status>
                <test>1</test>
                <debug>1</debug>
                <cctypes>AE,VI,MC,DI</cctypes>
                <save_optional>1</save_optional>
                <model>md_cybersource/payment</model>
                <soap_gateway_url>https://ics2ws.ic3.com/commerce/1.x/transactionProcessor/CyberSourceTransaction_1.118.wsdl</soap_gateway_url>
                <test_soap_gateway_url>https://ics2wstest.ic3.com/commerce/1.x/transactionProcessor/CyberSourceTransaction_1.118.wsdl</test_soap_gateway_url>
                <merchantdefineddata>1</merchantdefineddata>
                <merchantdefine_data1>store_url</merchantdefine_data1>
                <merchantdefine_data2>store_name</merchantdefine_data2>
                <merchantdefine_data3>order_id</merchantdefine_data3>
                <merchantdefine_data4>shipping_amount</merchantdefine_data4>
                <merchantdefine_data5>shipping_name</merchantdefine_data5>
                <merchantdefine_data6>discount</merchantdefine_data6>
                <merchantdefine_data7>coupon</merchantdefine_data7>
            </md_cybersource>
        </payment>
    </default>
</config>
