
<div  class="giftcard-preview-container" style="width:550px;height:370px;
    padding:10px;-webkit-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);">
   <div  style="background-repeat: no-repeat;float:left;
      width:240px; height:350px; padding-top:5px;" >
      <img src="{{var templateimg}}" style="width:240px;height:350px;" alt="Image Name" >
  </div>
   <table style="float:right;padding-top:10px;width:290px;" >
      <tr style="padding:2px 2px;
         height:28px;">
         <td style="padding:2px 2px;
            height:24px;"> <span  style="font-weight:bold;
            font-size:20px;color:{{var textcolor}};">{{var giftcardname}}</td>
      </tr>
      <tr style="padding:2px 2px;
         height:28px;">
         <td style="padding:2px 2px;
            height:24px;">
            <span  style="font-weight:bold;
               font-size:16px;
               color:{{var themecolor}};">From : <span  id='from'  style="font-size:14px;font-weight:bold;
               color:{{var textcolor}};" >{{var customername}}</span></span>
         </td>
      </tr>
      <tr style="padding:2px 2px;
         height:28px;">
         <td style="padding:2px 2px;
            height:24px;">
            <span style="font-weight:bold;
               font-size:16px;
               color:{{var themecolor}};">To : <span  id='to'  style="font-size:14px;font-weight:bold;
               color:{{var textcolor}};" >{{var receivername}}</span></span>
         </td>
      </tr>
      <tr style="padding:2px 2px;
         height:28px;">
         <td style="padding:2px 2px;
            height:24px;">
            <div style="margin:0 auto; width:270px; height:75px;padding:5px; line-height:15px; text-align:left;color:{{var textcolor}};border-radius:10px;border:1px solid gray;" id="txtCustName">{{var custommsg}}</div>
         </td>
      </tr>
      <tr style="padding:2px 2px;
         height:28px;">
         <td style="padding:2px 2px;
            height:24px;">
            <div style="color:{{var textcolor}};
               font-weight:bold;
               font-size:12px;
               float:right;
               padding-right:15px;">Giftcard Code: <span  style="color:{{var themecolor}};">{{var giftcardcode}}</span></div>
         </td>
      </tr>
      <tr style="padding:2px 2px;
         height:28px;" >
         <td style="padding:2px 2px;
            height:24px;">
            <div  style="color:{{var themecolor}};
               font-weight:bold;
               font-size:15px;
               width:100px;
               float:left;">Value : <span  style="color:{{var textcolor}};
               font-size:16px;">{{var giftcardval}}</span></div>
            
         </td>
      </tr>
      <tr style="padding:2px 2px;
         height:40px;" >
         <td style="padding:2px 2px;
            height:40px;">
            <div style="color:{{var themecolor}};
               font-weight:bold;
               font-size:12px;
               width:240px;
               float:left;">{{var gcnote}}</div>
         </td>
      </tr>
   </table>
    
</div>
<br/>
<br/>

<h4 style="color:brown;"><a href="{{store_url =''}}">Click here To Buy Products</a></h4>
