<?xml version="1.0"?>
<config>
    <tabs>
        <ikantam translate="label" module="diamonds">
            <label>Ikantam</label>
            <sort_order>999</sort_order>
        </ikantam>
    </tabs>

    <sections>
        <ikantam_diamonds translate="label" module="diamonds">
            <label>Diamonds</label>
            <tab>ikantam</tab>
            <frontend_type>text</frontend_type>
            <sort_order>10</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <options translate="label" module="diamonds">
                    <label>Options</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <bundle_name>
                            <label>Name Bundle Product</label>
                            <comment>Leave empty, if bundle product in catalog only one</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                    
                        </bundle_name>
                        <show_shape_name>
                            <label>Show Shape Name</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                    
                        </show_shape_name>
                        <allow_add_ring_to_cart>
                            <label>Allow add ring to cart without diamond</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                    
                        </allow_add_ring_to_cart>
                        <show_size_ring_page>
                            <label>Show size option on rings list page</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                   
                        </show_size_ring_page>
                    </fields>
                </options>
               
               
                <sliders translate="label" module="diamonds">
                    <label>Sliders</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <width_slider>
                            <label>Width Sliders</label>
                            <comment>px</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                    
                        </width_slider>
						<width_slider_with_fields>
                            <label>Width Slider With Fields</label>
                            <comment>px</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                    
                        </width_slider_with_fields>
                        <min_carat_slider>
                            <label>Minimal Value For Carat Slider</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                    
                        </min_carat_slider>
                        <max_carat_slider>
                            <label>Maximal Value For Carat Slider</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                    
                        </max_carat_slider>
                        <step_carat_slider>
                            <label>Step For Carat Slider</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                    
                        </step_carat_slider>
                        <min_price_slider>
                            <label>Minimal Value For Price Slider</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                    
                        </min_price_slider>
                        <max_price_slider>
                            <label>Maximal Value For Price Slider</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                    
                        </max_price_slider>
                        <step_price_slider>
                            <label>Step For Price Slider</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                    
                        </step_price_slider>
                        
                        
                        
                        <color_slider_type>
                            <label>Color slider type</label>
                            <frontend_type>select</frontend_type>
                            <source_model>diamonds/adminhtml_system_config_source_type</source_model>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                    
                        </color_slider_type>
                        <clarity_slider_type>
                            <label>Clarity slider type</label>
                            <frontend_type>select</frontend_type>
                            <source_model>diamonds/adminhtml_system_config_source_type</source_model>
                            <sort_order>90</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                    
                        </clarity_slider_type>
                        <cut_slider_type>
                            <label>Cut slider type</label>
                            <frontend_type>select</frontend_type>
                            <source_model>diamonds/adminhtml_system_config_source_type</source_model>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                    
                        </cut_slider_type>
						

						<fluorescence_slider_type>
                            <label>Fluorescence slider type</label>
                            <frontend_type>select</frontend_type>
                            <source_model>diamonds/adminhtml_system_config_source_type</source_model>
                            <sort_order>110</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                    
                        </fluorescence_slider_type>
						<polish_slider_type>
                            <label>Polish slider type</label>
                            <frontend_type>select</frontend_type>
                            <source_model>diamonds/adminhtml_system_config_source_type</source_model>
                            <sort_order>120</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                    
                        </polish_slider_type>
						<symmetry_slider_type>
                            <label>Symmetry slider type</label>
                            <frontend_type>select</frontend_type>
                            <source_model>diamonds/adminhtml_system_config_source_type</source_model>
                            <sort_order>130</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                    
                        </symmetry_slider_type>
						
						
						
						<min_table_slider>
                            <label>Minimal Value For Table Slider</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>140</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                    
                        </min_table_slider>
                        <max_table_slider>
                            <label>Maximal Value For Table Slider</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>150</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                    
                        </max_table_slider>
                        <step_table_slider>
                            <label>Step For Table Slider</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>160</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                    
                        </step_table_slider>
						
						<min_table_slider>
                            <label>Minimal Value For Table Slider</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>140</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                    
                        </min_table_slider>
                        <max_table_slider>
                            <label>Maximal Value For Table Slider</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>150</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                    
                        </max_table_slider>
                        <step_table_slider>
                            <label>Step For Table Slider</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>160</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                    
                        </step_table_slider>
						
						
						<min_depth_slider>
                            <label>Minimal Value For Depth Slider</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>170</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                    
                        </min_depth_slider>
                        <max_depth_slider>
                            <label>Maximal Value For Depth Slider</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>180</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                    
                        </max_depth_slider>
                        <step_depth_slider>
                            <label>Step For Depth Slider</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>190</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                    
                        </step_depth_slider>
						
						
                        <certificate_slider_type>
                            <label>Certificate slider type</label>
                            <frontend_type>select</frontend_type>
                            <source_model>diamonds/adminhtml_system_config_source_type</source_model>
                            <sort_order>200</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                    
                        </certificate_slider_type>
						
						<metal_slider_type>
                            <label>Metal slider type</label>
                            <frontend_type>select</frontend_type>
                            <source_model>diamonds/adminhtml_system_config_source_type</source_model>
                            <sort_order>210</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                    
                        </metal_slider_type>
                    </fields>
                </sliders>

                <diamond_view translate="label" module="diamonds">
                    <label>Diamond view area</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>30</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <display_info translate="label">
                            <label>Show block "Diamond Information"</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </display_info>
                        <display_tutorial translate="label">
                            <label>Show block "Diamond tutorial"</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </display_tutorial>
                    </fields>
                </diamond_view>


                <diamond_list translate="label" module="diamonds">
                    <label>Diamond list area</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>40</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <compare_attributes translate="label">
                            <label>Attributes for compare</label>
                            <comment>Comma separated</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <can_be_empty>1</can_be_empty>
                        </compare_attributes>
                        <mode_compare_limit translate="label">
                            <label>Limits for comparison mode</label>
                            <comment>Comma separated</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <can_be_empty>1</can_be_empty>
                        </mode_compare_limit>
                        <mode_list_limit translate="label">
                            <label>Limits for list mode</label>
                            <comment>Comma separated</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <can_be_empty>1</can_be_empty>
                        </mode_list_limit>
                        <mode_grid_limit translate="label">
                            <label>Limits for grid mode</label>
                            <comment>Comma separated</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <can_be_empty>1</can_be_empty>
                        </mode_grid_limit>
                    </fields>
                </diamond_list>
            </groups>
        </ikantam_diamonds>
    </sections>
</config>

